<div class="container">
  <!-- <img src="../../assets/img/paginas-com-erro-404.png" class="img-fluid justify-content-center" alt="page not found"> -->

 <div class="row">
  <div class="col-12">

      <div class="display-1 text-secondary mt-5">
          Pa&shy;gina
        </div>
        <div class="display-3 text-secondary mb-5">
          Nao encon&shy;trada
        </div>
        <hr>
        <p class="text-muted float-right" style="font-size: 20pt">Por favor verifique a sua conexao!</p>

  </div>
 </div>

</div>
